html, body {
   margin:0;
   padding:0;
   height:100%;
}

@font-face {
    font-family: "Bebas Neue";
    src: url("BebasNeue.otf");
}

a:link {
    color: black;
    background-color: transparent;
    text-decoration: underline;
}

a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

a:hover, a:active {
    color: #818181;
    background-color: transparent;
    text-decoration: none;
}

.content {
  width: 100%;
  min-height: 100%;
  height: 100%;
  position:relative;
}

.header {
  text-align: left;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 300px;
  background-color: #284770;
  font-family: "Bebas Neue", arial, times;
  overflow: visible;
  text-align: left;
  margin: auto;
  color: #ffffff;
  position: fixed;
  z-index: 500;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.h_big {
  height: 80px;
  transition: 0.3s;
  opacity: 1;
  box-shadow: 0 0 30px 0 #000;
}

.h_small {
  height: 50px;
  transition: 0.3s;
  background-color: transparent;
  opacity: 0.6;
  box-shadow: none;
}
.h_small:hover {
  transition: 0.3s;
  opacity: 1;
}

.h_small_up {
  height: 50px;
  transition: 0.3s;
  visibility: visible;
  opacity: 1;
  box-shadow: 0 0 30px 0 #000;
}

.logo {
  margin: auto;
  position: relative;
  top: 50%;
  margin-left: 3%;
  margin-right: 3%;
  margin-bottom:10%;
  transform: translateY(-50%);
  /*text-shadow: -3px 0 white, 0 3px white, 3px 0 white, 0 -3px white;*/
  text-shadow: 2px 2px 1px black;
  /*text-shadow: 0 0 6px black;*/
  font-size: 40px;
  letter-spacing: 2px;
  overflow: hidden;
  float: left;
  cursor:pointer;
  opacity: 1;
  transition: opacity 0.1s;
  transition: font-size 0.2s;
}

.logo:hover {
  opacity: 0.8;
}
.sh_button {
   position: relative;
   top: 50%;
   transform: translateY(-50%);
   float: left;
   padding-left: 1.5%;
   padding-right: 1.5%;
   letter-spacing: 1px;
   cursor:pointer;
   transition: background-color 0.3s;
}

.sh_btn_big {
  line-height: 80px;
  transition: 0.3s;
}

.sh_btn_small {
  line-height: 50px;
  transition: 0.3s;
}

.sh_button:hover {
   background-color: black;
   transition: background-color 0.1s;
}

.sh_dropdown {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  float: left;
  cursor:pointer;
  padding-left: 1.5%;
  padding-right: 1.5%;
  transition: background-color 0.3s;
  letter-spacing: 1px;
}

.sh_dropdown_btn {
  letter-spacing: 1px;
}

.sh_dropdown:hover {
   background-color: black;
   transition: background-color 0.1s;
}

.sh_dropdown:hover .sh_dropdownmenu {
    display: block;
    transition: display 0.3s;
}

.sh_dropdownmenu {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left:0;
}

.sh_dropdownmenu a {
    color: white;
    padding: 17px 17px;
    text-decoration: none;
    display: block;
}

.sh_dropdownmenu a:hover {
    color: black;
    background-color: white;
}

.sh_divider {
   position: relative;
   float: left;
   border-left: 2px solid #ffffff;
   margin-right: 2%;
   height: 50%;
   top: 50%;
   transform: translateY(-50%);
   overflow: hidden;
}

.sh_text {
   position: relative;
   top: 50%;
   transform: translateY(-50%);
   float: right;
   right: 0;
   overflow: hidden;
   padding-right: 2%;
   line-height: 80px;
   height: 80px;
   font-family: "Bebas Neue", arial, times;
   letter-spacing: 1px;
   font-style: italic;
}


.sh_menu {
   display: none;
   position: relative;
   float: right;
   right: 0;
   overflow: hidden;
   padding-left: 5%;
   padding-right: 5%;
   height: 100%;
   font-family: "Bebas Neue", arial, times;
   letter-spacing: 1px;
   cursor: pointer;
   background-color: #284770;
   transition: background-color 0.3s;
   z-index: 1;
   visibility: visible;
}

.sh_menu:hover {
  background-color: black;
  transition: background-color 0.1s;
}

.sh_menu_b {
  display: none;
  position: relative;
  float: right;
  right: 0;
  overflow: hidden;
  padding-left: 5%;
  padding-right: 5%;
  height: 100%;
  font-family: "Bebas Neue", arial, times;
  letter-spacing: 1px;
  cursor: pointer;
  background-color: black;
  z-index: 1;
  visibility: visible;
}

.mid {
  text-align: left;
  padding: 20px 80px 20px 80px;
  background-color: #ffffff;
  font-family: helvetica, verdana, times;
  /*box-shadow: 0 10px 15px 0 #3a3a3a, 0 -10px 15px 0 #3a3a3a;*/
  box-shadow: 0 0px 30px 0 #000;
  transition: 0.2s;
}

.footer {
  text-align: center;
  /*position: absolute;*/
  font-family: "Bebas Neue", verdana, times;
  letter-spacing: 1px;
  color: white;
  bottom: 0;
  width: 100%;
  height: 50px;
  line-height: 50px;
  background-color: #284770;
  box-shadow: 0 0px 30px 0 #000;
  overflow: hidden;
  opacity: 1;
  cursor: pointer;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 501;
    top: 0;
    right: 0;
    background-color: black;
    overflow: hidden;
    padding-top: 15px;
    transition: 0.3s;
    font-family: "Bebas Neue", verdana, times;
    letter-spacing: 1px;
    opacity: 1;
    font-size: 30px;
    white-space: nowrap;
    display: none;
}

.sn_big {
    margin-top: 80px;
}

.sn_small {
    margin-top: 50px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    color: #818181;
    display: block;
    transition: 0.2s
}

.sidenav a:hover {
    color: white;
}

#bar1, #bar2, #bar3 {
    position: relative;
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 8px 0;
    transition: 0.3s;
    visibility: visible;
}

.change #bar1 {
    transform: rotate(30deg) translate(0, 4.5px) ;
}
.change #bar2 {
    opacity: 0;
}
.change #bar3 {
    transform: rotate(-30deg) translate(0, -4.5px) ;
}

.m_big {
    top: 25%;
    transition: 0.3s
}

.m_small {
    top: 10%;
    transition: 0.3s
}

.bg_img {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Bebas Neue", verdana, times;
  opacity: 0.9;
  transition: 0.3s;
}

.bg_img_f {
  filter: /*grayscale(100%)*/ blur(4px);
  transition: 1s;
}

/* Bottom */
.bottom {
  min-height: 100%;
  /*background-image: url('img/mose3.jpg');*/
  background-image: linear-gradient(to bottom right,  rgba(66, 134, 244, 0.3), rgba(76, 217, 100, 0.3)), url('img/mose3.jpg');
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
  transition: 0.2s;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  padding-left: 28px;
  font-size: 30px;
  letter-spacing: 10px;
  box-shadow: 6px 6px 8px 0 #000;
  transition: 0.2s;
  white-space: nowrap;

}

span.cite {
  position: absolute;
  left: 45px;
  bottom: 35px;
  color: #fff;
  font-size: 20px;
  letter-spacing: 6px;
  font-style: italic;
  text-shadow: 2px 2px 2px #000;
  transition: 0.2s;
}

.some {
  max-width: 10%;
  margin-left: 20px;
  margin-right: 20px;
  cursor: pointer;
  margin-top:80px;
  transition: 0.2s;
}

.cfield {
  color: #fff;
  width: 0;
  transition:0.005;
  position: absolute;
  overflow-x: hidden;
  max-width: 500px;
  transition: max-width 0.2s;
  cursor: pointer;
}

.cfield span {
  display: inline-block;
  padding: 15px;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 30px;
  letter-spacing: 3px;
  font-family: "Bebas Neue", arial, times;
  white-space: nowrap;
  transition: 0.2s;
}

.cf_l {
  left: 0;
  box-shadow: -6px 6px 8px 0 #707070;
  background: linear-gradient(to right, black, black, rgba(0,0,0,0.7));
}


.cf_r {
  right: 0;
  box-shadow: 6px 6px 8px 0 #707070;
  background: linear-gradient(to left, black, black, rgba(0,0,0,0.7));
}




/* Parallax images */

/* Header image */
.image1 {
  min-height: 100%;
  background-image: linear-gradient(to bottom right,  rgba(255, 255, 255, 0.8), transparent), url('img/bg_test4.jpg');
  /*background-image: linear-gradient(to bottom right,  rgba(255, 255, 255, 0.8), rgba(76, 217, 100, 0.5)), url('img/bg_test.jpg');
*/}

.contact {
  min-height: 100%;
  background-image: linear-gradient(to bottom right,  rgba(255, 255, 255, 0.8), transparent), url('img/contact2.jpg');
  /*background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.8),  rgba(149, 20, 255, 0.3)), url('img/contact.jpg');
*/}

.about1 {
  min-height: 100%;
  background-image: linear-gradient(to bottom right,  rgba(255, 255, 255, 0.7), transparent), url('img/himmel3.jpg');
  /*background-image: linear-gradient(to top left, rgba(255, 255, 255, 0.7), rgba(255, 71, 20, 0.5)), url('img/himmel2.jpg');
*/}

.wih1 {
  min-height: 100%;
  background-image: linear-gradient(to bottom right,  rgba(255, 255, 255, 0.6), transparent), url('img/winterishere3.jpg');
  /*background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.7), rgba(66, 134, 244, 0.5)), url('img/winterishere.jpg');*/
}

.old1 {
  min-height: 100%;
  background-image: linear-gradient(to bottom right,  rgba(255, 255, 255, 0.4), transparent), url('img/awkack3.jpg');
  /*background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.7), rgba(235, 244, 66, 0.5)), url('img/awkack3.png');*/
}
.wih2 {
  min-height: 500px;
  background-image: url('img/winterishere2.jpg');
}

.image3 {
  min-height: 500px;
  background-image: url('img/plane.jpg');
}

.image2 {
  min-height: 500px;
  background-image: url('img/samlanuten.jpg');
}

.about2 {
  min-height: 400px;
  background-image: url('img/panorama.jpg');
}

.about3 {
  min-height: 500px;
  background-image: url('img/praha.jpeg');
}

.image4 {
  min-height: 700px;
  background-image: url('img/mount.jpg');
}

.about4 {
  min-height: 600px;
  background-image: url('img/himmel.jpg');
}

/* EMAIL */
.at {
  height:23px;
  position: relative;
  padding-right: 3px;
}
.dot {
  height:5px;
  padding-right: 3px;
}





/* Media queries */

@media screen and (max-width: 520px), (max-height: 500px)  {
    .cfield span {
      padding: 10px;
      padding-left: 15px;
      padding-right: 15px;
      font-size: 25px;
    }
    .at {height:19px}
    .dot {height:3px}
    .cfield {max-width: 370px;}
    .caption span.border {
      padding: 14px;
      padding-left: 24px;
      font-size: 25px;
      letter-spacing: 8px;
    }
    span.cite {
      font-size: 14px;
      letter-spacing: 4px;
      left: 25px;
      bottom: 20px;
      text-shadow: 1.5px 1.5px 1.5px #000;
    }
    .logo {font-size:35px;}
    .mid {
    padding: 10px 25px 10px 25px;
    }
}

@media screen and (max-height: 500px)  {
  .some {margin-top: 60px;}
  .bot {top: 30%;}
}

@media screen and (max-width: 980px)  {
  .sh_text {display: none;}
}

@media screen and (max-width: 720px)  {
  .sh_button, .sh_dropdown, .sh_divider {display: none;}
  .sh_menu, .sh_menu_b, .sidenav {display: inherit;}
  .logo {margin-left: 5%;}
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav {font-size: 18px;}
}

@media only screen and (max-device-width: 1024px) {
  .bg_img {background-attachment: scroll;}
}
